<div class="relative max-w-screen-xl mx-auto overflow-hidden p-8 md:p-0">
    <section class="relative text-center my-16 lg:my-32">
        <div class="relative">
            <div class="relative">
                <div class="relative">
                    <h1 class="text-4xl text-yellow-500 font-bold lg:text-6xl lg:transform lg:scale-125 xl:scale-150">Greek Sandwich Combos</h1>
                    <img class="bg-clip-2 mx-auto md:w-1/2" src="assets/images/pinar-kucuk-N2N7svpSFxk-unsplash.jpg" alt="">
                </div>
            </div>
        
            <div class="relative pt-16 pb-12 mx-auto lg:max-w-lg">
                <!-- <h1 class="text-3xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Pita Bread</h1> -->
                <!-- <h5 class="text-lg text-gray-700 font-semibold m-4 md:text-3xl">
                    Starting at <span class="text-green-700">$9.99</span>
                </h5> -->
                <p class="text-xs text-gray-600 md:text-base">
                    According to archeological historians, the pita likely originated within communities located west of the Mediterranean Sea. 
                    Farmers and desert dwellers alike appear to have enjoyed some form of pita bread. 
                    It was known to be carried by traders who traveled across the Arabian and Sahara desert.
                </p>
            </div>
        </div>
    
        <div class="relative">
            <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Greek Sandwich Combos</h1> -->
    
            <!-- PLATES -->
            <div class="relative flex flex-col lg:flex-row lg:flex-wrap">
                <div class="relative px-2 py-12 md:p-12 mx-auto lg:max-w-3xl">
                    <div class="relative">
                        <h2 class="text-xl text-gray-800 font-bold">Greek Sandwich</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Mixed greens, tomatoes, cucumbers, red onions, crumbled feta cheese, and tsatziki on your selection of traitional pita bread, or flour tortilla wrap, or greek bun.
                        </p>
                
                        <!-- <h5 class="text-base text-gray-700 font-semibold m-4">Starting at <span class="text-green-700">$9.99</span></h5> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="relative text-center my-16 lg:my-32">
        <div class="relative">
            <div class="relative">
                <div class="relative">
                    <h1 class="text-4xl text-yellow-500 font-bold lg:text-6xl lg:transform lg:scale-125 xl:scale-150">All Day Specials</h1>
                    <img class="bg-clip-2 mx-auto md:w-1/2" src="assets/images/creative-headline-F10nTHkCiW8-unsplash.jpg" alt="">
                </div>
            </div>
        
            <div class="relative pt-16 pb-12 mx-auto lg:max-w-lg">
                <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Burritos</h1> -->
                <p class="text-sm text-gray-600 md:text-base">
                    In the 20th century, the taco came to the United States first, in part because many of the first Mexican immigrants hailed from central Mexico, where corn tortillas were used. But in the 1950s, the burrito began making its way northward, too.
                </p>
            </div>
        </div>
    
        <div class="relative">
            <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">All Day Specials</h1> -->
    
            <!-- PLATES -->
            <div class="relative flex flex-col md:flex-row md:flex-wrap">
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Hummus & Falafel</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Garbanzo bean spread, garlic seasoned accompanied with three chickpeas falafels garnish with homemade tahini.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Avgolemono Soup & Salad</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Classic egg, lemon and rice soup paired with traditional greek salad with mixed greens, tomatoes, cucumbers, red onions, kalamata olives, crumbled feta cheese with red vinegar and olive oil dressing.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Chicken Kabob Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            One large grilled skewer of lemon marinated chicken breast, grilled with green bell peppers, red onions, salt and pepper, topped with homemade lemon citrus sauce.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Steak Kabob Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            One large skewer of grilled top sirloin, grilled with green bell peppers, red onions, salt and pepper topped with homemade lemon citrus sauce.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Spanakopita & Dolmas</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Golden-crisp egg roll shell stuffed with a mixture of feta, cheese, ricotta cheese, finely chopped onions, and fresh garlic accompanied by two homemade seasoned stuffed rice tomatoes and onions topped with our homemade lemon citrus sauce.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">1⁄4 Lemon Chicken</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Dark meat, oven baked chicken marinated in salt, pepper, Greek oregano topped with our homemade lemon citrus sauce
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Soft Gyro Green Tacos</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Two soft corn tortilla gyros tacos with tomatoes, cucumbers, red oninons, red cabbage and spicy tzatsiki sauce.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Zesty Pita</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Lightly fried pita bread spread with spicy feta cheese stuffed with your selection of gyros, chicken or falafel.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Lentil Soup & Salad</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Classic lentil bean, carrot and onion soup paired with traditional greek salad with mixed greens, tomatoes, cucumbers, red onions, kalamata olives, crumbled feta cheese with red vinegar and olive oil dressing.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$8.25</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="relative text-center my-16 lg:my-32">
        <div class="relative">
            <div class="relative">
                <div class="relative">
                    <h1 class="text-4xl text-yellow-500 font-bold lg:text-6xl lg:transform lg:scale-125 xl:scale-150">Gyro Plates</h1>
                    <img class="bg-clip-2 mx-auto md:w-1/2" src="assets/images/tai-s-captures-JiRSy0GfqPA-unsplash.jpg" alt="">
                </div>
            </div>
        
            <div class="relative pt-16 pb-12 mx-auto lg:max-w-lg">
                <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Gyro Meat</h1> -->
                <!-- <h5 class="text-lg text-gray-700 font-semibold m-4 md:text-3xl">
                    Starting at <span class="text-green-700">$9.99</span>
                </h5> -->
                <p class="text-xs text-gray-600 md:text-base">
                    This type of sandwich has been known, and sold on the streets, by the people of Greece, the Middle East, and Turkey for hundreds of years. Greek historians believe that the dish originated during Alexander The Great's time, when his soldiers used their long knives to skewer meat and kept turning the meat over fires.
                </p>
            </div>
        </div>
    
    
        <div class="relative">
            <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Greek Plates</h1> -->
    
            <!-- PLATES -->
            <div class="relative flex flex-col md:flex-row md:flex-wrap">
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Vegetarian Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
    
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            A selection of homemade chickpeas bean falafel, garbanzo garlic hummus, golden-crisp egg roll spanakopita and rice stuffed dolmas accompanied with a side of classic greek salad with our red vinegar and olive oil dressing.
                        </p>
                
                        <ul class="flex flex-row justify-center space-x-4">
                            <li class="w-10 h-10 rounded-md border">
    
                            </li>
                            <li class="w-10 h-10 rounded-md border">
                                
                            </li>
                            <li class="w-10 h-10 rounded-md border">
                                
                            </li>
                        </ul>
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Chicken Kebab Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
    
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Two large grilled skewers of lemon marinated chicken breast in our homemade lemon citrus sauce accompanied by your selection of two side dishes.
                        </p>
    
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Steak Kebab Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
    
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Two large grilled skewers of marinated top sirloin steak topped with homemade lemon citrus sauce, accompanied by your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Chicken Steak Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Two large grilled skewers, one of lemon marinated chicken breast and one skewer of grilled marinated top sirloin, topped with our homemade lemon citrus sauce, accompanied by your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Gyro Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            5oz of braised gyros meat strips with your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Gyro Chicken Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            3oz of braised gyros meat strips and one large grilled skewer of lemon marinated chicken breast topped with lemon citrus sauce and your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Gyro Shrimp Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            3oz of braised gyros meat strips and lightly breaded shrimp topped with homemade lemon citrus sauce and your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Gyro Steak Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            3oz of braised gyros meat strips and one large skewer of grilled marinated top sirloin topped with lemon citrus sauce and your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$10.50</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Calamari Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Marinated strips of calamari steak cooked to your choice, sauteé or lightly breaded, topped with lemon citrus sauce accompanied by your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$11.99</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Grilled Salmon Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Grilled crispy salt and pepper seasoned salmon topped with our delicious homemade lemon citrus sauce and your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$11.99</h5>
                    </div>
                </div>
                <div class="relative px-2 py-12 border-b-2 md:border-b-0 md:p-12 md:w-1/2 xl:w-1/3">
                    <div class="relative mx-auto lg:max-w-sm">
                        <h2 class="text-xl text-gray-800 font-bold">Shrimp Plate</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Ten pieces of shrimp cooked to your choice sauteé or lightly breaded topped with homemade lemon citrus sauce and your selection of two side dishes.
                        </p>
                
                        <h5 class="text-base text-green-700 font-semibold m-4">$11.99</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="relative text-center my-16 lg:my-32">
        <div class="relative">
            <div class="relative">
                <div class="relative">
                    <h1 class="text-4xl text-yellow-500 font-bold lg:text-6xl lg:transform lg:scale-125 xl:scale-150">Salads</h1>
                    <img class="bg-clip-2 mx-auto md:w-1/2" src="assets/images/taylor-kiser-EvoIiaIVRzU-unsplash.jpg" alt="">
                </div>
            </div>
        
            <div class="relative pt-16 pb-12 mx-auto lg:max-w-lg">
                <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Greek Salad</h1> -->
                <p class="text-xs text-gray-600 md:text-base">
                    The Greek salad’s origin is debatable, but one thing we can be sure of is that it’s not a part of the country’s long-established traditional cuisine. 
                    We know this because, incredibly, the tomato did not become popular in Greece until the end of the 19th, beginning of the 20th century. 
                    This is hard to believe, considering how fast it’s made itself a home here in Greece.
                </p>
            </div>
        </div>
    
        <div class="relative">
            <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Salads</h1> -->
    
            <!-- PLATES -->
            <div class="relative flex flex-col lg:flex-row lg:flex-wrap">
                <div class="relative px-2 py-12 md:p-12 mx-auto lg:max-w-3xl">
                    <div class="relative">
                        <h2 class="text-xl text-gray-800 font-bold">Classic Greek Salad</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Classic greek salad with mixed greens, tomatoes, cucumbers, red onions, kalamata olives, crumbled feta cheese, red vinegar and olive oil dressing.
                        </p>
                
                        <!-- <h5 class="text-base text-gray-700 font-semibold m-4">Starting at <span class="text-green-700">$9.99</span></h5> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="relative text-center my-16 lg:my-32">
        <div class="relative">
            <div class="relative">
                <div class="relative">
                    <h1 class="text-6xl text-yellow-500 font-bold lg:transform lg:scale-125 xl:scale-150">Desserts</h1>
                    <img class="bg-clip-2 mx-auto md:w-1/2" src="assets/images/lottie-griffiths-jdd83kAUg3w-unsplash.jpg" alt="">
                </div>
            </div>
        
            <div class="relative pt-16 pb-12 mx-auto lg:max-w-lg">
                <!-- <h1 class="text-6xl text-yellow-500 font-bold scale-x-150 scale-y-150 transform">Baklava</h1> -->
                <p class="text-xs text-gray-600 md:text-base">
                    In the Greek variation of this dessert, they make 33 layers of phyllo which refers to the 33 precious years of Jesus Christ. At any Turkish household, you may spot making them this dish with 33 layers in it on any holy occasion. There is also preparation for this dish with 40 layers in Greece. The taste of the dessert becomes, even more, better with extra layers.
                </p>
            </div>
        </div>
    
        <div class="relative">
            <!-- PLATES -->
            <div class="relative flex flex-col lg:flex-row lg:flex-wrap">
                <div class="relative px-2 py-12 md:p-12 mx-auto lg:max-w-3xl">
                    <div class="relative">
                        <h2 class="text-xl text-gray-800 font-bold">Baklava</h2>
                        <span class="block w-8 h-1 mx-auto bg-red-500"></span>
                        
                        <p class="text-sm text-gray-700 my-8 md:text-base">
                            Layered pastry dessert made of filo pastry, filled with chopped nuts, and sweetened with syrup or honey. It was one of the most popular sweet pastries of Ottoman cuisine.
                        </p>
                
                        <!-- <h5 class="text-base text-gray-700 font-semibold m-4">Starting at <span class="text-green-700">$9.99</span></h5> -->
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>